<form action="/signup" method="post">
  <input type="text" name="user[username]" placeholder="Username"/>
  <input type="password" name="user[password]" placeholder="Password"/>
  <input type="password" name="user[password_confirmation]" placeholder="Confirm Password"/>
  <input type="submit" value="Create Account"/>
</form>