<form action="/expenses/<%= @expense.id %>" method="post"/>
  <input type="hidden" name="_method" value="patch"/>
  <input type="datetime" name="expense[date]" value=<%= @expense.date %>/><br>
  <textarea name="expense[description]" value=<%= @expense.description %>/><br>
  <input type="float" name="expense[amount]" value=<%= @expense.amount %>/><br>
  <input type="submit" value="Update Expense"/>
</form>