<form action="/expenses" method="post">
  <input type="date" name="expense[date]" placeholder=date><br />
  <textarea name="expense[description]" placeholder=description></textarea><br />
  <input type="float" name="expense[amount]" placeholder=amount><br />
  <input type="submit" value="Create Expense"/>
</form>